/** Overrides main to get a blue appearance */
div#bar ul li{
	background-color: #074c87;
}

div#bg {
	background-image: url('http://www.w3schools.com/css/bgdesert.jpg');
	/*background-image: url('../img/bg.png');
	background-repeat: no-repeat;*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	z-index: -2;
}
div#bg_ {
	background: #074c87;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	z-index: -2;
}

div#header {
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-color: #074c87;
}
